@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.pixelify-sans-font {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Keyframes */

@keyframes breathing {
  0% {
    color: #FE7F2D;
  }

  100% {
    color: #FCCA46;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-300px);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-300px);
  }

  100% {
    transform: translateY(0);
  }
}

.bg-dot-grid {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20 px' height='20px' viewBox='0 0 23 23' fill='none'%3E%3Ccircle cx='22' cy='22' r='1' fill='rgba(115,115,115,0.3)' /%3E%3C/svg%3E%0A");
}

.breathing-title {
  color: #FE7F2D;
  animation: breathing 3s infinite alternate;
  animation-delay: 2s;
}

.title-font {
  font-size: clamp(2.8125rem, 2.261rem + 2.2059vw, 3.75rem);
}