@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.pixelify-sans-font {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Keyframes */

@keyframes breathing {
  0% {
    color: #FE7F2D;
  }

  100% {
    color: #FCCA46;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-300px);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-300px);
  }

  100% {
    transform: translateY(0);
  }
}

.hide {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-300px);
  transition: all 1s ease;
}

.show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.bg-dot-grid {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20 px' height='20px' viewBox='0 0 23 23' fill='none'%3E%3Ccircle cx='22' cy='22' r='1' fill='rgba(115,115,115,0.3)' /%3E%3C/svg%3E%0A");
}

.scroller {
  scroll-snap-type: y mandatory;
}

.scroller .section {
  scroll-snap-align: start;
}

.project-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 805px;
  width: 90%;
  height: 100%;

  h1 {
    font-size: 30px;
    font-weight: 200;
  }
}

.text-container {
  font-weight: 100;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 30px;
  }
}

.link-container {
  margin: 20px 0px;
  display: flex;
  align-self: end;

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    width: 150px;
    height: 50px;
    border: solid 1px;
  }
}

.info-links {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;

  >li {
    justify-content: center;
    display: flex;
    width: 36px;
    height: 36px;
    transition: all .5s ease;
  }
  >li:hover {
    cursor: pointer;
    background-color: white;
  }
}

.info {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  max-height: 1080px;
}

.breathing-title {
  color: #FE7F2D;
  animation: breathing 3s infinite alternate;
  animation-delay: 2s;
}

.header-paragraph {
  padding: 20px 0 0 0;
  max-width: 500px;
  font-size: 18px;
}

@media (min-width: 600px) {
  .header-paragraph {
    height: 74px;
  }
}

@media (min-width: 420px) {
  .header-paragraph {
    height: 101px;
  }
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0px 0px;

}

.tech-stack {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.tech-stack-paragraph {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.techs {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;

  >li {
    justify-content: center;
    display: flex;
    width: 36px;
    height: 36px;
  }
}

@media (min-width: 769px) {
  .info {
    justify-content: center;
  }
  .header-title {
    font-size: 60px;
    line-height: 50px;
    max-width: 500px;
  }

  .techs {
    gap: 30px
  }
}

@media (max-width: 444px) {
  .techs {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .tech-stack {
    margin-top: 35px
  }

  .info {
    margin-top: 110px;
  }

  .techs {
    gap: 10px;
  }

  .header-title {
    font-size: 45px;
    line-height: 40px;
    max-width: 400px;
  }

  .header-paragraph {
    padding-top: 20px 0 0 0;
  }

  .hero-info {
    width: 90%;
  }

  .tech-stack {
    margin-top: 100px;
    width: 90%;
    flex-direction: column;
  }
}

nav {
  position: fixed;
  display: flex;
  z-index: 10;
  width: 100%;
  padding: .5vw 2vw;
  justify-content: center;
}

.small-screen-nav {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;

  .nav-title {
    display: flex;
    height: fit-content;
    width: 100%;
    font-size: 3vh;
    color: #FE7F2D;
  }

  .hamburger {
    display: flex;
    color: #FE7F2D;
    width: 24px;
  }

  .hamburger:hover {
    cursor: pointer;
  }
}

.big-screen-nav {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;

  .nav-title {
    display: flex;
    height: fit-content;
    width: 100%;
    font-size: 3vh;
    color: #FE7F2D;
  }

  .ul {
    display: flex;
    height: fit-content;
    gap: 20px;

    li {
      font-size: 18px;
      transition: all .5s ease;
      color: #FE7F2D;
    }

    li:hover {
      color: #FCCA46;
      cursor: pointer;
    }
  }
}

.bs-down-arrow {
  width: 100%;
  display: none;
  justify-content: center;
}

.ss-down-arrow {
  width: 100%;
  display: none;
  justify-content: center;
}

.info-background {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
}

.down-arrow {
  margin-top: 70px;
  display: flex;
}


@media (min-width: 769px) {
  .big-screen-nav {
    display: flex;
  }

  .small-screen-nav {
    display: none;
  }

  .bs-down-arrow {
    display: flex;
  }
}

@media (max-width: 768px) {
  .info-background {
    height: 90vh;
  }

  .big-screen-nav {
    display: none;
  }

  .small-screen-nav {
    display: flex;
  }

  .down-arrow {
    margin-top: 70px;
    display: flex;
  }
}

.hamburger-drawer {
  display: flex;
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  background-color: #50343c;
  border-bottom: solid 1px #FCCA46;
}

.hamburger-drawer>ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  padding: 10px 0;
}

.hamburger-drawer>ul>li {
  position: relative;
  color: #FCCA46;
  font-size: 30px;
}

.hamburger-drawer-show {
  transform: translateY(0);
  filter: blur(0);
  transition: all 1s ease;
  box-shadow: 0 5px 50px 0 #FCCA46;
}

.hamburger-drawer-hide {
  filter: blur(5px);
  transform: translateY(-300px);
  transition: all 1s ease;
}

.close-hamburger:hover {
  cursor: pointer;
}

.close-hamburger {
  position: absolute;
  top: 0;
  right: 0;
  height: 10px;
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  margin: 10px 16px;
  color: #FCCA46;
}

.project-title {
  position: relative;
  width: fit-content;
  padding: 2px 10px;
  color: #FE7F2D;
  border: dashed 1px #FE7F2D;
  border-radius: calc(0);
}